<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Offset</key>
		<integer>2</integer>
		<key>Property</key>
		<string>Item Class</string>
		<key>Property Values</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Weapon</string>
				<key>Value</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Missile</string>
				<key>Value</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Helmet</string>
				<key>Value</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Cloak</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Body Armor</string>
				<key>Value</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Belt</string>
				<key>Value</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Gauntlets</string>
				<key>Value</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Leggins</string>
				<key>Value</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Shield</string>
				<key>Value</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Boots</string>
				<key>Value</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Amulet</string>
				<key>Value</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Ring</string>
				<key>Value</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Scroll</string>
				<key>Value</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Potion</string>
				<key>Value</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Reagent</string>
				<key>Value</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Reactant</string>
				<key>Value</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Misc</string>
				<key>Value</key>
				<integer>18</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Lockpick</string>
				<key>Value</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Gem</string>
				<key>Value</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Food</string>
				<key>Value</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Note</string>
				<key>Value</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Quest</string>
				<key>Value</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Key</string>
				<key>Value</key>
				<integer>26</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>3</integer>
		<key>Property</key>
		<string>Item Name</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>0</integer>
		<key>Property</key>
		<string>Weight</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>2</integer>
		<key>Property</key>
		<string>Required Skill</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>3</integer>
		<key>Property</key>
		<string>Occurrence</string>
		<key>Property Values</key>
		<array>
			<dict>
				<key>Name</key>
				<string>common</string>
				<key>Value</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>occasional</string>
				<key>Value</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>rare</string>
				<key>Value</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>very rare</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>unique</string>
				<key>Value</key>
				<string>9</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>4</integer>
		<key>Property</key>
		<string>Icon</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>5</integer>
		<key>Property</key>
		<string>Item Value</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>6</integer>
		<key>Property</key>
		<string>Item Known</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>7</integer>
		<key>Property</key>
		<string>Count</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>8</integer>
		<key>Property</key>
		<string>Damage</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>9</integer>
		<key>Property</key>
		<string>Armor Rating</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>10</integer>
		<key>Property</key>
		<string>Attribute</string>
		<key>Property Values</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Strength</string>
				<key>Value</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Dexterity</string>
				<key>Value</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Endurance</string>
				<key>Value</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Speed</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Intelligence</string>
				<key>Value</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Wisdom</string>
				<key>Value</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Perception</string>
				<key>Value</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Concentration</string>
				<key>Value</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>11</integer>
		<key>Property</key>
		<string>Attribute Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>12</integer>
		<key>Property</key>
		<string>Skill</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>13</integer>
		<key>Property</key>
		<string>Skill Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>14</integer>
		<key>Property</key>
		<string>Hitpoint Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>15</integer>
		<key>Property</key>
		<string>Mana Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>16</integer>
		<key>Property</key>
		<string>ToHit Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>17</integer>
		<key>Property</key>
		<string>Damage Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>18</integer>
		<key>Property</key>
		<string>Armor Rating Bonus</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>19</integer>
		<key>Property</key>
		<string>Resistance</string>
		<key>Property Values</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Elements</string>
				<key>Value</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Toxin</string>
				<key>Value</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Magick</string>
				<key>Value</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Disease</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>20</integer>
		<key>Property</key>
		<string>Effect</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>21</integer>
		<key>Property</key>
		<string>Script</string>
	</dict>
</array>
</plist>
