<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Experience</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Layman</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>1000</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Greenhorn</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>2000</integer>
		<key>Level</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Neophyte</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>3500</integer>
		<key>Level</key>
		<integer>4</integer>
		<key>Title</key>
		<string>Initiate</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>5000</integer>
		<key>Level</key>
		<integer>5</integer>
		<key>Title</key>
		<string>Apprentice</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>7000</integer>
		<key>Level</key>
		<integer>6</integer>
		<key>Title</key>
		<string>Senior Apprentice</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>11000</integer>
		<key>Level</key>
		<integer>7</integer>
		<key>Title</key>
		<string>Yeoman</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>15000</integer>
		<key>Level</key>
		<integer>8</integer>
		<key>Title</key>
		<string>Artisan Initiate</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>20000</integer>
		<key>Level</key>
		<integer>9</integer>
		<key>Title</key>
		<string>Artisan</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>30000</integer>
		<key>Level</key>
		<integer>10</integer>
		<key>Title</key>
		<string>Senior Artisan</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>40000</integer>
		<key>Level</key>
		<integer>11</integer>
		<key>Title</key>
		<string>Journeyman</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>50000</integer>
		<key>Level</key>
		<integer>12</integer>
		<key>Title</key>
		<string>Senior Journeyman</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>60000</integer>
		<key>Level</key>
		<integer>13</integer>
		<key>Title</key>
		<string>Headmaster Journeyman</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>70000</integer>
		<key>Level</key>
		<integer>14</integer>
		<key>Title</key>
		<string>Adept</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>80000</integer>
		<key>Level</key>
		<integer>15</integer>
		<key>Title</key>
		<string>Adept Authority</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>90000</integer>
		<key>Level</key>
		<integer>16</integer>
		<key>Title</key>
		<string>Expert</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>100000</integer>
		<key>Level</key>
		<integer>17</integer>
		<key>Title</key>
		<string>Specialist</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>120000</integer>
		<key>Level</key>
		<integer>18</integer>
		<key>Title</key>
		<string>Master</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>140000</integer>
		<key>Level</key>
		<integer>19</integer>
		<key>Title</key>
		<string>Grandmaster</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>160000</integer>
		<key>Level</key>
		<integer>20</integer>
		<key>Title</key>
		<string>Archmaster</string>
	</dict>
	<dict>
		<key>Experience</key>
		<integer>180000</integer>
		<key>Level</key>
		<integer>21</integer>
		<key>Title</key>
		<string>Supreme Archmaster</string>
	</dict>
</array>
</plist>
