(
	"Arcane, Alchemy",
	"Arcane, Divination",
	"Arcane, Elemental Magick",
	"Armor, Light",
	"Armor, Heavy",
	"Armor, Shields",
	"Cartography",
	"Dodge",
	"Hide In Shadows",
	"Lore",
	"Meditation",
	"Mercantile",
	"Move Silently",
	"Pick Locks",
	"Skullduggery",
	"Spot Hidden",
	"Survival",
	"Unarmed Combat",
	"Weapons, Bludgeoning",
	"Weapons, Bows",
	"Weapons, Cleaving",
	"Weapons, Short Bladed",
	"Weapons, Swords",
	"Weapons, Thrown"
)