<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Offset</key>
		<integer>3</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Bless</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>4</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Cat's Eyes</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>5</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Detox</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>6</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Divine Heal</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>7</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Entangle</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>8</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Fleshboil</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>9</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Leatherskin</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>10</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Lore</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>11</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Poison Spray</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>12</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Nimbleness</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>13</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Ogre Strength</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>14</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Charm</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>15</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Cure Disease</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>16</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Enchanted Weapon</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>17</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Haste</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>18</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Sunder Flesh</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>19</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Stoneskin</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>20</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Turn Undead</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>21</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Mass Boil</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>22</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Smite</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>23</integer>
		<key>Realm</key>
		<string>Divination</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Dehex</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>24</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Dancing Lights</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>25</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Air Shield</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>26</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Fire Dart</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>27</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Gravedigger's Flame</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>28</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Element Armor</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>29</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Reveal Map</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>30</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Predator Sight</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>31</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Sonic Blast</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>32</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Compress Atmosphere</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>33</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Enkindled Weapon</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>34</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Deep Freeze</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>35</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Fireball</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>36</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Chameleon</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>37</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>1</integer>
		<key>Spell</key>
		<string>Lock Melt</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>2</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>2</integer>
		<key>Spell</key>
		<string>Trapkill</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>3</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>2</integer>
		<key>Spell</key>
		<string>Portal</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>4</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>2</integer>
		<key>Spell</key>
		<string>Invisibility</string>
	</dict>
	<dict>
		<key>Offset</key>
		<integer>5</integer>
		<key>Realm</key>
		<string>Elemental</string>
		<key>Section</key>
		<integer>2</integer>
		<key>Spell</key>
		<string>Supernova</string>
	</dict>
</array>
</plist>
